simple-salesforce
pandas
openpyxl
requests
gspread
gspread_dataframe
google-auth
streamlit_qrcode_scanner
firebase_admin
pytz
flask
easyocr
torch
opencv-python 
pyzbar
opencv-contrib-python
numpy
Pillow
